@import '../../variables.scss';

.header {
  background-color: #007bff;
  color: white;
  display: flex;
  padding: 0 16px;
  align-items: center;

  .logo {
    margin-right: 50px;

    @media screen {
      margin-right: 28px;
    }

    img {
      width: 150px;
    }
  }

  .icon-btn {
    --icon-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--icon-size);
    min-height: var(--icon-size);
    max-width: var(--icon-size);
    max-height: var(--icon-size);
  }

  .add {
    margin-left: 16px;
    @media (max-width: $w-lg) {
      margin-left: 0;
    }
  }

  .notifications {
    position: relative;
    margin-left: auto;

    @media (max-width: $w-lg) {
      margin-left: 0;
    }
  }

  .notifications .badge {
    width: 20px;
    height: 16px;
    color: white;
    font-size: 11px;
    border-radius: 100px;
    background-color: red;
    padding: 1px 4px;
    position: absolute;
    right: -10px;
    top: -10px;
  }

  .profile {
    margin-left: 24px;

    avatar {
      width: 32px;
      height: 32px;
      overflow: hidden;
      border-radius: 50%;
    }
  }

  .other-btns {
    display: flex;
    align-items: center;
    flex: 1;
    @media (max-width: $w-lg) {
      justify-content: flex-end;
      gap: 8px;
    }
  }

  .burger {
    margin-right: 18px;
  }
}
