<div class="navbar d-none-max-lg">
  <a href="#" class="navbar__item">
    <img src="assets/img/link.svg" alt="" />
    <span>Ссылки</span>
  </a>
  <a href="#" class="navbar__item">
    <img src="assets/img/people.svg" alt="" />
    <span>Контакты</span>
  </a>
  <a href="#" class="navbar__item">
    <img src="assets/img/hash.svg" alt="" />
    <span>Теги</span>
  </a>
  <a href="#" class="navbar__item">
    <img src="assets/img/star.svg" alt="" />
    <span>Избранное</span>
  </a>
  <a href="#" class="navbar__item">
    <img src="assets/img/restart.svg" alt="" />
    <span>Посещения</span>
  </a>
</div>
